
* {
    font-family: 'Inter', sans-serif;
}
body{
  margin: 0;
}
@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

body::-webkit-scrollbar {
    width: 3px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.logo-img{
  width: 7rem; 
  object-fit: contain;
}
